*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/codeStyles/*
.idea/other.xml
.idea/androidTestResultsUserPreferences.xml
.idea/deviceManager.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
fastlane/report.xml
fastlane/.gplay_metadata/
app/release/
app/google-services.json

# Secrets
google-play-service-account.json
app/google-services.json
secrets.properties
release.keystore

# Build
vendor/
app/gplay/release/

# Cruft
technotes/.obsidian/
.idea/runConfigurations.xml
.kotlin/sessions/

TODO.md

tmp/
