[bumpver]
current_version = "2026.02.1190"
version_pattern = "YYYY.0M.BUILD[-TAG]"
commit_message = "Bump version {old_version} to {new_version}"
commit = true
tag = true
push = false

[bumpver.file_patterns]
"bumpver.toml" = ['current_version = "{version}"']
"app/build.gradle.kts" = ['versionName = "{version}"', 'versionCode = BUILD']
