[bumpver]
current_version = "2024.06.1000"
version_pattern = "YYYY.0M.BUILD"
commit_message = "Bump version {old_version} to {new_version}"
commit = true
tag = true
push = false

[bumpver.file_patterns]
"README.md" = [
    "{version}",
]
"bumpver.toml" = [
    'current_version = "{version}"',
]
"app/build.gradle.kts" = [
    'versionName = "{version}"',
    'versionCode = BUILD'
]
