<!DOCTYPE html>
<html dir="auto">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  </head>
  <body>
    <figure>
      <img src="{{image_src}}" />
      <figcaption>{{image_caption}}</figcaption>
    </figure>
  </body>
</html>
