:root {
  --corner-radius: 0.1875rem;
}

/* #region Base */
body {
  font-family: sans-serif;
  word-wrap: break-word;
  margin: 0;
  padding: 2rem 1rem;
  background-color: var(--color-surface);
  color: var(--color-on-surface);

  @media only screen and (min-width: 769px) {
    padding: 2rem 4rem;
  }
}

a:link,
a:visited {
  color: var(--color-primary);
}

code {
  font-size: 0.8rem;
}

code,
pre {
  background: var(--code-background-color);
  border-radius: var(--corner-radius);
}

img,
figure,
video,
div,
object {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

iframe {
  max-width: 100%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

/* #endregion */

/* #region BEM */

.article__header {
  display: block;
  margin-bottom: 1rem;
}

.article__header:link,
.article__header:visited {
  text-decoration: none;
}

.article__title h1 {
  margin: 0;
}

.article__body {
  line-height: 1.6rem;
}

/* #endregion BEM */
