$font-families: (
  "default": sans-serif,
  "atkinson_hyperlegible": "Atkinson Hyperlegible",
  "inter": "Inter",
  "jost": "Jost",
  "literata": "Literata",
  "poppins": "Poppins",
  "vollkorn": "Vollkorn",
);

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/atkinson_hyperlegible.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/inter.ttf") format("truetype");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/jost.ttf") format("truetype");
}

@font-face {
  font-family: "Literata";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/literata.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: normal;
  src: url("/res/font/vollkorn.ttf") format("truetype");
}

:root {
  --corner-radius: 0.1875rem;
  --article-line-height: 1.6em;
}

::selection {
  background-color: rgb(from var(--color-secondary) r g b / 60%);
}

/* #region Base */
body {
  font-family: sans-serif;
  word-wrap: break-word;
  margin: var(--article-top-margin) 0 0 0;
  padding: 2rem 1rem;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  -webkit-tap-highlight-color: rgb(from var(--color-primary) r g b / 30%);

  @media only screen and (min-width: 769px) {
    padding: 2rem 4rem;
  }
}

a {
  &:link,
  &:visited {
    color: var(--color-primary);
  }
}

code,
pre {
  background: var(--color-surface-container);
  border-radius: var(--corner-radius);
}

code {
  padding: 0.2em;
}

pre {
  white-space: var(--pre-white-space);
  overflow-x: scroll;
  padding: 1em;
}

img,
figure,
video,
div,
object {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

img {
  opacity: 0;
  transition: opacity 0.1s ease-in;

  &.loaded {
    opacity: 1;
  }
}

figure {
  margin-bottom: 1em;
  line-height: 1.2em;
  font-size: calc(var(--article-font-size) * 0.75);
  color: var(--color-on-surface-variant);

  blockquote {
    font-size: var(--article-font-size);
    color: var(--color-on-surface);
    line-height: normal;
  }
}

.iframe-embed {
  display: block;
  position: relative;
  width: 100%;
  border: 0;
  border-radius: var(--corner-radius);

  .iframe-embed__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--corner-radius);
  }

  .iframe-embed__play-button {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 4rem;
    aspect-ratio: 1;
    background-image: url("/assets/play-arrow.svg");
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;
  }
}

iframe {
  max-width: 100%;
  margin: 0 auto;

  &[src*="youtube-nocookie.com"],
  &[src*="youtube.com"],
  &[src*="youtu.be"] {
    background-color: #000000;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
    border-radius: var(--corner-radius);
  }
}

video {
  background-color: black;

  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}

ul:has(img) {
  list-style-type: none;
  padding-left: 0;
}

.table__wrapper {
  width: 100%;

  table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
  }

  table table {
    margin-bottom: 0;
    border: none;
  }

  td,
  th {
    border: 1px solid #999;
    padding: 0.2rem;
    text-align: left;
    word-wrap: break-word;
  }

  td:empty:not(:first-child) {
    border: none;
    padding: 0;
    display: none;
  }

  td:has(pre) {
    border: none;
    padding: 0;
  }
}

.article__header {
  display: block;
  margin-bottom: 1.5rem;
  max-width: 40rem;
  margin: 0 auto 1rem;

  &:link,
  &:visited {
    text-decoration: none;
  }
}

.article__title {
  margin: 0;
  padding-bottom: 0.5rem;

  &:empty {
    padding: 0;
    margin: 0;
  }
}

.article__body {
  font-size: var(--article-font-size);
}

#article-body-content {
  line-height: var(--article-line-height);
  padding-bottom: 6rem;
  max-width: 40rem;

  img {
    background-color: var(--color-surface-container-highest);
  }
}

@each $family, $value in $font-families {
  .article__body--font-#{$family} {
    font-family: $value;
  }
}
